doctype html
html
    head
        title Protected Page
        link(rel="stylesheet" href="/css/styles.css")  
    body
        .container
            h1 Protected Page
            p= message
            button.button(onclick="location.href='/logout'") Logout
            button.button(onclick="location.href='/update'") Update Details
            button.button(onclick="location.href='/chat'") Go to Chat

            // ... other content ...

            form.delete-form(method="post" action="/delete_account")
                input.delete-button(type="submit" value="Delete My Account" onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.');")

        //- Bubbles for aesthetics
        .bubble(style="width:100px; height:100px; left:10%; animation-duration:4s;")
        .bubble(style="width:60px; height:60px; left:20%; animation-duration:5s;")
        .bubble(style="width:120px; height:120px; left:70%; animation-duration:6s;")
