doctype html
html
  head
    title One-on-One Chat
    link(rel="stylesheet" href="/css/styles.css")
    style.
      ul {
        list-style-type: none; /* Removes bullet points */
        padding: 0; /* Removes default padding */
      }
    script(src="/socket.io/socket.io.js")

  body
    .container
      h1 One-on-One Chat

      // Users List
      .users-list
        h2 Users
        // Search input field
        input(type="text" id="user-search" placeholder="Search users")
        ul#users-list
            each user in users
                li
                    a(href=`/chat/${user.id}`)= user.id
                    span(id='user-status-' + user.id style=`color: ${user.online ? 'green' : 'red'};`)
                        if user.online
                            | ● Online
                        else
                            | 

      // Chat Messages Container
      .chat-messages
        ul#chat-messages
          // Chat messages will be dynamically populated here

    .bubble(style="width:100px; height:100px; left:10%; animation-duration:4s;")
    .bubble(style="width:60px; height:60px; left:20%; animation-duration:5s;")
    .bubble(style="width:120px; height:120px; left:70%; animation-duration:6s;")

    script.
        var socket = io();
        var userId = "#{userId}"; // Assuming userId is a string

        socket.on('userStatusChanged', function(data) {
            var userElement = document.getElementById('user-status-' + data.userId);
            if (userElement) {
                userElement.style.color = data.online ? 'green' : 'red';
                userElement.textContent = data.online ? '● Online' : '● Offline';
            }
        });

        var chatForm = document.getElementById('chat-form');

        // Remove the chat form event listener and other associated JavaScript
        // as it's no longer needed with the removal of the chat form

        document.getElementById('user-search').addEventListener('input', function(e) {
            var searchQuery = e.target.value.toLowerCase();
            var userList = document.getElementById('users-list');
            var users = userList.getElementsByTagName('li');

            for (var i = 0; i < users.length; i++) {
                var user = users[i].textContent || users[i].innerText;
                if (user.toLowerCase().indexOf(searchQuery) > -1) {
                    users[i].style.display = "";
                } else {
                    users[i].style.display = "none";
                }
            }
        });
