doctype html
html
    head
        title Login
        link(rel="stylesheet" href="/css/styles.css")  
    body
        .container
            h1 Login
            p= message
            form.login-form(action='/login' method='post')
                input(type='text' name='id' placeholder='Username')
                input(type='password' name='password' placeholder='Password' class='input-spacing')
                input.button(type='submit' value='Login')
            button.button.button-space(onclick="location.href='/'") Go Back

        //- Bubbles for aesthetics
        .bubble(style="width:100px; height:100px; left:10%; animation-duration:4s;")
        .bubble(style="width:60px; height:60px; left:20%; animation-duration:5s;")
        .bubble(style="width:120px; height:120px; left:70%; animation-duration:6s;")
